@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* -----------------------------------
------Swiper slider button CSS--------
----------------------------------- */
.swiper-button-next {
  background-image: url(/images/next.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 20px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/images/previous.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: 10px !important;
  top: 20px !important;
  left: auto !important;
  right: 40px !important;
}

.swiper-button-prev::after {
  display: none;
}


/* -----------------------------------
-----Swiper slider pagination CSS-----
----------------------------------- */
.swiper-pagination-bullet-active {
  background-color: #FF5C00 !important;
  border: 0.5px solid #FF5C00 !important;
}

.swiper-pagination-progressbar-fill {
  background-color: #27AE60 !important;
}